footer {
    color: #ffffff;
    font-size: 1.5em;

    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: $breakpoint-small) {
        font-size: 1em;
        padding: 40px 0px;
    }

    .bold-text {
        font-weight: bold;
        display: block;
    }

    .contact-text {
        display: block;
        margin: 20px 0px;

        a {
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
        }
    }
}