header {
    color: #ffffff;
    text-align: center;
    padding: 200px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: $breakpoint-medium) {
        padding: 150px;
    }

    @media screen and (max-width: $breakpoint-small) {
        padding: 100px 30px 100px 30px;
    }

    .lead-text {
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

    .sub-text {
        display: block;
        font-size: 1.2em;
    }
}